body {
  background-color: #000; }

* {
  margin: 0; }

a {
  text-decoration: none;
  display: block; }

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main {
  width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.side-bar {
  width: 200px; }
  .side-bar ul {
    list-style-type: none; }
  .side-bar a {
    padding: 10px;
    padding-top: 8px;
    color: #000; }
  .side-bar li {
    border-bottom: 2px solid #000; }
  .side-bar .nav {
    background-color: green;
    padding: 0; }
    .side-bar .nav li {
      height: 33px; }
      .side-bar .nav li a {
        font-size: 18px;
        font-weight: 700; }
  .side-bar .list {
    padding: 0;
    margin-bottom: 20px;
    background-color: green;
    height: 425px;
    overflow-y: auto; }
    .side-bar .list li {
      height: 36.45px; }
      .side-bar .list li:last-child {
        border-bottom: none; }
        .side-bar .list li:last-child a {
          padding: 10px; }
      .side-bar .list li a {
        font-size: 17px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis; }
  .side-bar .map img {
    width: 100%;
    height: 200px; }

.content {
  width: 780px; }
  .content .title {
    background-color: green;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 20px;
    margin-bottom: 20px; }
  .content .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .content .items .item {
      background-color: green;
      flex-basis: 250px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 15px;
      margin-bottom: 15px;
      height: 425px; }
      .content .items .item:nth-child(3n+3) {
        margin-right: 0; }
      .content .items .item img {
        width: 100%; }
      .content .items .item-content {
        padding: 15px;
        text-align: center;
        position: relative;
        height: 100%; }
        .content .items .item-content small,
        .content .items .item-content h3,
        .content .items .item-content p {
          margin-bottom: 5px;
          overflow: hidden;
          -o-text-overflow: ellipsis;
             text-overflow: ellipsis;
          display: block; }
        .content .items .item-content small {
          max-height: 1.2rem; }
        .content .items .item-content h3 {
          max-height: 2.8rem; }
        .content .items .item-content p {
          word-break: break-all;
          line-height: 1.2rem;
          max-height: 6rem;
          margin-bottom: 10px; }
        .content .items .item-content a {
          background-color: #fff;
          color: #000;
          position: absolute;
          bottom: 15px;
          width: 220px;
          padding: 5px 0; }

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px; }
  .order img {
    height: 200px;
    width: 360px;
    margin-right: 9px; }
  .order #form {
    background-color: green;
    padding: 10px 20px 0 20px;
    width: 100%; }
    .order #form fieldset {
      border: 0;
      font-size: 18px;
      padding: 0; }
      .order #form fieldset input {
        display: block;
        width: calc(100% - 20px); }
      .order #form fieldset input,
      .order #form fieldset select {
        margin-top: 10px;
        padding: 6px 10px;
        background-color: #CBCBCB;
        border-style: none; }
      .order #form fieldset select {
        width: 100%; }
    .order #form .submit {
      color: white;
      background-color: #227dab;
      padding: 10px;
      border: none;
      width: 150px; }

#footer {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: green;
  margin: 20px auto;
  width: 1000px; }